<li class="category-<%= category.id %>">
  <div class="row">
    <span class="col-md-10">
      <div class="cateName"><%= category.name %></div>
    </span>
    <span class="col-md-1"><%= link_to I18n.t('button.start'), '#', class: "btn btn-primary" %></span>
  </div>
</li>
